/* http://meyerweb.com/eric/tools/css/reset/
         v2.0 | 20110126
         License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-size: 100%;
	  font: inherit;
	  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	  display: block;
}
body {
	  line-height: 1;
}
ol, ul {
	  list-style: none;
}
blockquote, q {
	  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	  content: '';
	  content: none;
}
table {
	  border-collapse: collapse;
	  border-spacing: 0;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

/* start */

.no-padding {
    padding: 0;
}

body {
    font: 18px/1.3 BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

footer {
    font-size: .9rem;
    text-align: center;
    padding: 2rem 0 3rem;
}

header {
    background: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(210, 210, 210);
}

header h1 {
    font-weight: bold;
    font-family: monospace;
}

header .me {
    margin-right: 1rem;
}

header form {
    display: inline-block;
}

header .container {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
}

table thead {
    border-bottom: 1px solid rgb(210, 210, 210);
}

table th {
    font-weight: bold;
    text-align: left;
    padding: .5rem;
}

table td {
    padding: .5rem;
}

.hero .container {
    min-height: 70vh;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
}

.hero h2 {
    font-style: italic;
    margin-bottom: 2rem;
}

.hero h3 {
    font-weight: bold;
}

.hero form {
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
}

.field input {
    margin-right: 5px;
}

button {
}

@media screen and (max-width: 30rem) {
    .field {
        display: block;
    }

    .field input {
        margin-bottom: .5rem;
        margin-right: 0;
    }
}

.container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
}

section h1 {
    font-size: 1.6rem;
    margin: 1rem -1rem;
}
section h2 {
    font-size: 1.2rem;
    margin: 2rem -1rem 1rem;
}
section h3 {
    margin: 1rem 0;
    font-weight: bold;
}

pre {
    padding: 1rem;
    margin: 1rem 0;
    background: rgb(240, 240, 240);
    overflow-x: auto;
}

code {
    font: .9rem/1.3 monospace;
}
strong { font-weight: bold; }
dl {
    margin-top: 1rem;
}
dd {
    margin-bottom: 1rem;
}

p {
    margin: 1rem 0;
}

ul {
    list-style: disc;
}


/* form elements */

button, input[type=url] {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1rem;
    height: 1.8rem;
    line-height: 1;
    padding: .1rem .5rem;
    background: white;
    border: 1px solid rgb(210, 210, 210);
    color: black;
}

input[type=url] {
    box-shadow: inset 0 .075rem .15rem rgba(0, 0, 0, .1);
}

button {
    cursor: pointer;
}

input[type=url]:hover, button:hover {
    border-color: rgb(150, 150, 150);
}

input[type=url]:focus, button:focus {
    border-color: rgb(0, 102, 204);
}

button:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(0, 102, 204, .2);
}

input[type=url]:focus:not(:active) {
    box-shadow: inset 0 .075rem .15rem rgba(0, 0, 0, .1), 0 0 0 .125em rgba(0, 102, 204, .2);
}

button:active {
    border-color:black;
}

input[type=url] + button {
    height: auto;
}
