<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>relme-auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/choose.css" />
  </head>
  <body>
    <div class="fill"></div>

    <div class="container">
      <header>
        <h1>Sign-in to {{ .ClientName }}</h1>
        <h2>{{ .ClientID }}</h2>

        {{ if .Scopes }}
        <p>The app is requesting the following scopes:</p>
        {{ range .Scopes }}
          <label class="scope">
            <input type="checkbox" name="scope" value="{{ . }}" checked disabled />
            {{ . }}
          </label>
        {{ end }}
        {{ end }}
      </header>

      <p>Use one of the methods below to sign-in as <strong>{{ .Me }}</strong></p>

      <ul class="methods"></ul>
      <div class="loader"></div>

      <p class="info loading">
        Results cached <span class="cachedAt"></span>. <a id="refresh">Refresh</a>.
      </p>

      <footer>
        This is <a href="https://github.com/hawx/relme-auth">relme-auth</a>, an
        app that allows you to sign-in to websites by delegating to
        authentication providers using <code>rel=me</code> links
        on your homepage and other sites. <a href="https://indieauth.com/setup">Learn more</a>.
      </footer>
    </div>

    <div class="fill"></div>

    <script src="/public/choose.js"></script>
  </body>
</html>
