{{ template "page" . }}

{{ define "main" }}
  {{ template "navbar" . }}

  <section class="container apps">
    <p>Your new token for <strong>{{ .ClientID }}</strong> is</p>

    <pre><code>{{ .Token }}</code></pre>

    <p>This will not be shown again, so make sure to put it somewhere safe.</p>

    <a href="{{ .ThisURI }}">Continue</a>
  </section>
{{ end }}
