<footer>
  <div class="container">
    <p>This is <a href="https://auth.hawx.me">relme-auth</a>, a website that
    allows you to sign-in by delegating to authentication providers using <code>rel=me</code> links on your homepage. <a href="/privacy">Privacy policy</a>.</p>
    <p>The source code for this project is on <a href="https://github.com/hawx/relme-auth">GitHub</a>.</p>
  </div>
</footer>
