<footer>
  <div class="container">
    <p>The source code for this project is on <a href="https://github.com/hawx/relme-auth">GitHub</a>. View information on <a href="/privacy">data collection</a>.</p>
  </div>
</footer>
